body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Changed from 300vh to 100vh */
    margin: 0;
    background: url('https://github.com/vlsidt/vlsi_d-t/blob/main/WhatsApp%20Image%202025-02-07%20at%2023.05.10_0c1e63fa.jpg?raw=true') no-repeat center center fixed; 
    background-size: cover;
    color: white;
}


#login-container, #main-container {
    background-color: #333;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 90%; /* Responsive width */
    max-width: 500px; /* Limit width for larger screens */

    /* Centering */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 

.error {
    color: red;
    margin-top: 20px;
}

button {
    padding: 20px 30px;
    margin: 20px;
    border: none;
    border-radius: 10px;
    background-color: #ff5722;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #e64a19;
    transform: scale(1.05);
}

#question-papers {
    margin-top: 40px;
}

#question-papers a {
    display: block;
    margin-bottom: 10px;
    color: #4caf50;
    text-decoration: none;
    font-weight: bold;
}

#question-papers a:hover {
    text-decoration: underline;
}
